a{
    text-decoration: none;
}

.container a {
    color: black;
    
}

.container img{

    object-fit: cover;
    width: 21rem;
    height: 400px;
    object-fit: contain;
}

 .container{
    margin-bottom: 10rem;
}

h3{
    margin: 3rem 0;
}

/* nav */
nav{
    margin-top: 2em;
    margin-bottom: 2em;
}


nav ul .nav-item{
    font-size: 1.5em;
    font-weight: 600;
    padding: 0 .6em;
    margin: 0 .3em;
    border-radius: 55px;
}



nav ul .nav-item:hover{
    background-color: #bbb;
    transition: 0.6s;
}



nav ul .nav-item:active {
    box-shadow: none;
}

@media (max-width:768px) {
    nav ul .nav-item:hover{
        background-color: #fff;
        transition: 0.6s
    }
}



/* logo */

#logo h1{
    font-weight: 500;
    justify-content: center;
}

#logo .container-fluid{
    padding-bottom: rem;
}


/* news */
#news  {
    

}

/* footer */

.copyright {
    border-top: solid 1px;
}


.copyright .copyright-wrapper {
    width: 1200px;
    min-height: 40px;
    margin: 0 auto;
    max-width: 100%;
}

.copyright .copyright-content {
    color: #3c3c3c;
    float: left;
    line-height: 40px;
    padding-left: 40px;
}

.copyright .not-copyright-content {
    float: right;
}


.copyright .back-to-top {
    color: #3c3c3c;
    padding-right: 40px;
    padding-left: 10px;
    float: none;
    line-height: 40px;
    vertical-align: bottom;
}

.copyright .back-to-top a {
    color: #3c3c3c;
    padding-left: 10px;
    font-weight: 500;
}